extends layout.pug

block content
  main
    h1.visually-hidden Регистрация пользователя
    section
      .popup.popup--registration.popup--anti
        a.popup__button.button.button--popup-close(aria-label="Закрыть окно") Закрыть окно
        h2.popup__title Регистрация
        .popup__form.popup__form--active.form.form--register
          form(action="/register", method="post", enctype="multipart/form-data", autocomplete="off")
            input(type="hidden" name="csrf" value=csrfToken)
            .form__field
              label
                input(type="email", name="email", placeholder="Электронная почта", value=(user && user.email ? user.email : ``))
            .form__field
              label
                input(type="text", name="name", placeholder="Имя", value=(user && user.firstname ? user.firstname : ``))
            .form__field
              label
                input(type="text", name="surname", placeholder="Фамилия", value=(user && user.lastname ? user.lastname : ``))
            .form__field
              label
                input(type="password", name="password", placeholder="Пароль", value=(user && user.password ? user.password : ``))
            .form__field
              label
                input(type="password", name="repeat-password", placeholder="Повтор пароля", value=(user && user.repeat ? user.repeat : ``))
            if errorMessages
              .form__validation-error
                p.form__error-message При регистрации произошли ошибки:
                ul.form__errors
                  each error in errorMessages
                    li.form__error #{error}
            .form__image-loader
              a.form__avatar.avatar
                img(src=(user && user.avatar ? `/img/${user.avatar}` : `/img/icons/smile.svg`), alt="аватар пользователя")
              label
                input.visually-hidden(type="file", name="upload")
                | Загрузить фото профиля
            button.form__submit-btn.form__submit-btn--register.button.button--colored(type="submit") Зарегистрироваться