extends ../layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article in articles
          li.notes__list-item
            +date(article.date)(class=`notes__item-time`)
            a.notes__item-text(href=`/articles/edit/${article.id}`) #{article.title}
            a.notes__button.button.button--close-item(href=`/articles/delete/${article.id}`)
              span.visually-hidden Закрыть строку списка